<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Murky Stairwell 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130405

-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>My Journal</title>
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Open+Sans:400,300' rel='stylesheet' type='text/css'>

<!-- css -->
{{css|safe}}
<!-- css -->


</head>
<body>
<div id="wrapper">
    <div id="login-menu">
        <p>{{login_menu|safe}}<p>
    </div>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/">My Journal</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/">Journals</a></li>
					<li><a href="/canales">Channels</a></li>
                    {{rss|safe}}
					<li><a href="/help">Help</a></li>
				</ul>
			</div>
		</div>

		<div id="banner">
			<div class="content"><img src="/images/img02.jpg" width="1000" height="300" alt="" /></div>
		</div

	</div>
	<!-- end #header -->
	
	<div id="page">
		<div id="content">
			{{content|safe}}
		</div>
		<!-- end #content -->

		<div id="sidebar">
			<ul>

                <!-- begin form -->
                {{form|safe}}
                <!-- end form -->

				<li>
					{{rss_form|safe}}
				</li>
                <li>
					{{customform|safe}}
				</li>
				<li>
					<!--<h2>Blogroll</h2>
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
				<li>
					<h2>Archives</h2>
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>-->
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page --> 
</div>
<div id="footer">
	<p>Copyright (c) 2013. All rights reserved. Design by <a href="http://www.facebook.com/ismael.slimane?ref=tn_tnmn">Ismael Slimane Zubillaga</a></p>
</div>
<!-- end #footer -->
</body>
</html>
